<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="c:\Program Files\nodejs\npm.cmd" 
                  arguments="run start" 
                  startupTimeLimit="180" 
                  startupRetryCount="3" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile="./log.txt">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="NEXT_SWC_PATH" value="h:\root\home\galaxycore-001\www\alfiantour\AppData\Local" />
        <environmentVariable name="LOCALAPPDATA" value="h:\root\home\galaxycore-001\www\alfiantour\AppData\Local" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
